.preview {
  width: 100%;
  max-width: 800px;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px repeat(auto-fill, max-content);
  grid-row-gap: 20px;
  align-items: center;
  margin-top: 2rem;
}

.previewImage {
  object-fit: cover;
  border-radius: 10px;
}

.previewContent,
.articleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.previewText {
  font-size: 16;
  font-weight: 300;
  text-align: center;
  color: #6f6f6f;
}

@media screen and (min-width: 1000px) {
  .preview {
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    align-items: center;
  }
}
