.title {
  @apply text-transparent text-7xl bg-clip-text font-incompleeta leading-none font-extrabold;
  @apply bg-gradient-to-r from-amber-500 to-blue-500 via-rose-500 animate-gradient-xy;
  margin: 0 auto 0 auto;
  line-height: 1.5;
}

.title-secondary {
  @apply text-transparent text-8xl bg-clip-text font-incompleeta leading-none font-extrabold;
  @apply bg-gradient-to-t from-gray-800 to-gray-900 via-gray-700 animate-gradient-y;
  margin: 0 auto 0 auto;
  line-height: 1.5;
}

.subtitle {
  @apply text-transparent bg-clip-text font-incompleeta leading-none font-bold;
  @apply bg-gradient-to-r from-amber-500 to-blue-500 via-rose-500 animate-gradient-x;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3;
}

.naked {
  @apply text-transparent bg-clip-text  leading-none font-bold;
  color: #fff;
  font-weight: 400;
  line-height: 1.3;
}

.text {
  @apply text-transparent bg-clip-text font-incompleeta leading-none font-bold;
  @apply bg-gradient-to-r from-amber-500 to-blue-500 via-rose-500 animate-gradient-x;
}

@media (max-width: 600px) {
  .title {
    @apply text-4xl;
    line-height: 1.5;
  }

  .title-secondary {
    @apply text-6xl;
    line-height: 1;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}
