.intro-body {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.dot {
  width: 1px;
  height: 1px;
  position: relative;
  border-radius: 50%;
  text-align: center;
  color: #333;

  &-white {
    background-color: #fff;
  }
}
