.intro-body {
  display: block;
  overflow: hidden;
  height: calc(100vh);
  width: calc(100vw);
}

.dot {
  width: 1px;
  height: 1px;
  position: relative;
  border-radius: 50%;
  border: 1px solid;
  text-align: center;

  &-white {
    background-color: #fff;
  }
}
