.root {
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}

.image {
  @apply shadow-md opacity-40;
  width: 100%;
  min-width: 80vw;
  height: 480px;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  display: block;
  object-fit: cover;
}

.name-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0px;
  text-align: center;
  width: 50%;
  height: 0;
  margin: auto;
}

.name {
  color: white;
  white-space: pre-wrap;
  font-size: 1rem;
}
