.root {
  margin: 1rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
}

.container {
  @apply border-slate-300 border rounded-sm;
  padding: 1rem;
  border-radius: 0.5rem;
}

.name {
  color: #00bcd4;
  text-decoration: underline;
  font-weight: bold;
}

.stats {
  @apply text-slate-500;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  font-size: 0.8rem;
}

.language {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.languageColor {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-right: 0.3rem;
}

.languageName {
  font-weight: bold;
}

.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  margin-left: 1rem;
}

.starsCount {
  font-weight: bold;
  margin-left: 0.3rem;
}

.forks {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  margin-left: 1rem;
}

.forksCount {
  font-weight: bold;
  margin-left: 0.3rem;
}

.description {
  @apply prose prose-invert;
}

@media (min-width: 768px) {
  .root {
    width: 80vw;
  }
}
