@reference "tailwindcss";

.root {
  margin: 0;
  display: inline-flex;
  flex-wrap: wrap;
  font-size: 0.8rem;
  line-height: 2;
  letter-spacing: 0.03rem;
  color: var(--text-secondary);
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1.5rem;
  white-space: nowrap;
}

.tagList {
  max-width: 100%;
  margin-left: 0.25rem;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  @apply font-mono text-slate-400;
}

.author {
  margin-left: 0.5rem;
  @apply font-bold text-amber-500;
}

.title {
  @apply text-5xl font-extrabold leading-none text-transparent bg-clip-text;
  margin: 0 auto 0 auto;
  line-height: 1.5;
}

@media (max-width: 600px) {
  .title {
    @apply text-3xl;
    line-height: 1.5;
  }
}
