.root {
  margin: auto 0 2rem;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-height: calc(100vh - 85px);
}

.container {
  display: flex;
  flex-direction: column;
}

.terminal {
  margin: 1rem auto;
}

.listening {
  margin: 1rem auto;
}

@media (max-width: 600px) {
  .root {
    margin: 1rem 0 4rem;
  }

  .title {
    @apply text-5xl;
    line-height: 1.5;
  }

  .terminal {
    margin: 2rem auto;
  }
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0 4rem;
}

.startButton {
  @apply animate-bounce;
}

.startIcon {
  @apply w-8 h-8 transition duration-500 transform hover:scale-110;
}

.start > .other {
  margin-top: 1rem;
  color: white;
  transition: border 200ms ease-in-out;
  border-bottom: 1px solid transparent;
}

.start > .other:hover {
  color: white;
  border-color: white;
}

.lastArticle {
  margin: auto;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
}
