.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.description {
  @apply prose lg:prose-xl text-gray-100;
  margin: 2rem;
}

.followersContainer {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.followerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.youAllContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto;
}

@media (max-width: 768px) {
  .followersContainer {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
