.root {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

@media (max-width: 600px) {
  .root {
    max-width: 90vw;
  }
}

@media (max-width: 320px) {
  .root {
    height: 200px;
  }
}
