.root {
  margin: 1rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
  min-height: auto;
}

.avatar {
  margin: auto;
  width: 150px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container {
  margin: 2rem;
  margon-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.bio {
  font-size: 1rem;
  font-weight: lighter;
}

@media (max-width: 600px) {
  .root {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    width: 80vw;
    min-height: auto;
    text-align: center;
  }

  .avatar {
    margin: 1rem auto;
  }

  .bioContainer,
  .name,
  .bio {
    margin: auto;
  }
}
