@reference "tailwindcss";

.root {
  margin: 2rem auto;
  width: 100%;
}

.track-container {
  @apply scroll-smooth;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 2rem 0 2rem 0;
}

.navigator {
  @apply transition duration-300 transform hover:scale-110;
  position: absolute;
  top: 50%;
  z-index: 9;
  padding: 0 0.7rem 0 0.7rem;
}

.paragraph {
  padding: 0 1rem 0 1rem;
  text-indent: 1rem;
}
