.root {
  width: 100%;
  height: 100%;
}

.image {
  @apply shadow-md opacity-40;
  width: 100%;
  min-width: 80vw;
  height: 480px;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  display: block;
  object-fit: cover;
}

.title-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0px;
  text-align: center;
  width: 50%;
  height: 0;
  margin: auto;
}

.title {
  color: white;
  white-space: pre-wrap;
  font-size: 1rem;
}

.artist-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto;
  text-align: center;
}

.artist {
  @apply font-mono;
  color: white;
  white-space: pre-wrap;
  font-size: 0.8rem;
}

.played-at {
  @apply font-mono;
  color: white;
  white-space: pre-wrap;
  font-size: 0.6rem;
}

/* @media (max-width: 768px) {
  .root_default {
    width: 20rem;
    height: 28rem;
  }

  .root_full {
    width: 100%;
    height: 100%;
  }
} */
