@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
  --animate-gradient-x: gradient-x 5s ease infinite;
  --animate-gradient-y: gradient-y 5s ease infinite;
  --animate-gradient-xy: gradient-xy 5s ease infinite;

  --font-incompleeta: Incompleeta, sans-serif;

  @keyframes gradient-y {
    0%,
    100% {
      background-size: 400% 400%;
      background-position: center top;
    }
    50% {
      background-size: 200% 200%;
      background-position: center center;
    }
  }
  @keyframes gradient-x {
    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
  @keyframes gradient-xy {
    0%,
    100% {
      background-size: 400% 400%;
      background-position: left center;
    }
    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: "Inter";
  font-weight: 100 900;
  font-display: block;
  src: url("https://assets.vercel.com/raw/upload/v1587415301/fonts/2/inter-var-latin.woff2") format("woff2");
}

@font-face {
  font-family: "Incompleeta";
  font-weight: "normal";
  font-display: block;
  src: url("/fonts/IncompleetaRegular.woff2") format("woff2");
}

:root {
  --bg: #000;
  --bg-secondary: #202023;
  --text: #fff;
  --text-secondary: #bdbdbe;
  --fg: #fff;
  --pink: #f81ce5;
  --amber: #f59e0b;
  --green: #50e3c2;
  --bright-green: #3afacf;
  --gray: #999;
  --font-sans: "Inter", sans-serif;
  --font-mono: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--fg);
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: currentColor;
  transition: color 200ms ease-in-out;
}

button {
  font-family: inherit;
}

::selection {
  background-color: var(--amber);
  color: var(--fg);
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  @apply font-extrabold leading-none text-transparent text-7xl bg-clip-text;
  margin: 0 auto 0 auto;
  line-height: 1.5;
}

.subtitle {
  @apply font-bold leading-none text-transparent bg-clip-text;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.3;
}

@media (max-width: 900px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 600px) {
  .title {
    @apply text-5xl;
    line-height: 1.5;
  }

  .subtitle {
    font-size: 1.5rem;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
