.root {
  margin: auto 0 4rem;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-height: calc(100vh);
}

.title {
  margin: auto;
  @apply font-light text-transparent text-7xl bg-clip-text font-incompleeta;
  @apply bg-gradient-to-l from-amber-500 to-blue-500 via-rose-500 animate-gradient-x;
  line-height: 1.5;
}
